
#navbar{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 60px;
}
#addbtn{
    margin: 50px;
    margin-left: 80px;
    z-index: 999999;
}
.form-group{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    display: none;
}
#addbtn2{
    margin-left: 20px;
    display: none;
    margin-top: 20px;
    margin-bottom: 10px;
   
}
#p2{
    margin-left: 20px;
    margin-top: 10px;
    display: none;
}
#namepara,
#h51{
    display: inline;
}
#phonepara,
#h52{
    display: inline;
}

#btn3{

    height: 25px;
    font-size: 15px;
    margin-top: 10px;
    background-color:lightcoral;
}
#col2,
#col3,
#col1{
    margin-left: 180px;
}
#col3,
#col2
{
    display: inline;
    margin-left: 250px;
}
#backbtn{
    margin: 30px;
    margin-left: 80px;
    z-index: 999999;
    display: none;
}
